<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.64.1" targetFramework="net461" />
  <package id="AspectInjector" version="2.2.1" targetFramework="net461" />
  <package id="Iron.Assets.Rendering.Windows" version="17.0.0" targetFramework="net461" />
  <package id="IronPdf" version="2020.3.1.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Noksa.Allure.StepInjector" version="1.0.0" targetFramework="net461" />
  <package id="Noksa.NUnit.Allure" version="3.0.4" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit.Allure" version="1.0.6" targetFramework="net461" />
  <package id="NUnit.Allure.Steps" version="1.0.7.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>